body {
  background-color: #191716;
  color: #3D348B;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #BEB7A4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header {
  background-color: #E6AF2E;
  color: #3D348B;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

nav ul {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #E0E2DB;
  text-decoration: none;
  padding: 10px 15px;
  /* Updated padding */
  background-color: transparent;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #3D348B;
  color: #E0E2DB;
  border-radius: 0;
}

section {
  padding: 20px;
}

h1.name {
  color: #191716;
  margin: 0;
  margin-bottom: -20px;
}

h2.position {
  color: #191716;
}

section#project-overview {
  padding: 20px;
  text-align: center;
}

section#project-overview h2 {
  color: #3D348B;
  font-size: 40px;
  margin-bottom: 20px;
}

section#project-overview hr {
  border: none;
  border-top: 2px solid #3D348B;
  margin: 20px 0;
  border-radius: 10px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #E6AF2E;
  border-radius: 10px;
  padding: 20px;
}

.project-card .project-image img {
  width: 100%;
  border-radius: 10px;
}

.project-card .project-details {
  flex-basis: calc(50% - 10px);
}

.project-card h3 {
  color: #3D348B;
  margin-top: 0;
}

.project-card p {
  color: #3D348B;
}

.project-card a {
  display: inline-block;
  color: #3D348B;
  background-color: #E0E2DB;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.project-card a:hover {
  background-color: #3D348B;
  color: #E0E2DB;
}

footer {
  background-color: #E6AF2E;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #191716;
  margin: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  color: #E0E2DB;
  font-size: 36px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #3D348B;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #E6AF2E;
  color: #3D348B;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.go-to-top.show {
  opacity: 1;
  visibility: visible;
}
